@media (max-width:480px) {
    nav {
        justify-content: center;

    }

    nav .nav_left {
       
        margin: auto 5px;
       
    }
    
    


    nav .nav_left #logo_text {
       
        font-size: 38px;
      
        margin: 0px 10px;
    }





    nav .nav_left #logo_img {
        width: 50px;
      
        margin: 0px 2px;

    }



    nav .nav_right {
        margin: auto 5px;


    }

    nav .nav_right a {
        font-size: 22px;
        color: white;

        margin: 0px 5px;

    }






    main .submain.one #profile_pic {
        font-size: 70px;

    }

    main .submain.one #about {
        font-size: 12px;

    }







    main .submain.two .allprojects #projects_heading {
        font-size: 45px;
        margin: 15px 0px 10px 0px;
        text-align: center;
    }

    main .submain.two .allprojects .project_description {
        margin: auto 15px;
    }

    main .submain.two .allprojects #project_name {
        font-size: 6.5vw;

    }


    main .submain.two .allprojects #about_project {
        font-size: 2vw;
        margin: 8px 0px;
        margin-right: 5px;
    }








    main .submain.two .allprojects .project {
        height: 100px;
        width: 94vw;
        margin: 30px 0px;
    }

    main .submain.two .allprojects .project_img {
        width: 140px;

    }






}

@media (max-width:850px) {
    main .submain.two .allprojects .project {

        width: 95vw;

    }

}